{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "trailingComma": "none"
}